body {
    background-color: rgb(46, 46, 46);
}

* {
    color: rgb(211, 211, 211);
}

#maps, #levels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.map, .level {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.15s ease-in;
}

.map-name { font-size: 1.3em; }
.map-artist { font-size: 1.15em; }

.map:hover, .level:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.map div, .level div {
    text-align: center;
}

.map img {
    margin: 10%;
    object-fit: cover;
    object-position: center;
    width: 80%;
    border-radius: 10px;
    height: auto;
    aspect-ratio: 1;
}

#loading-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#game {
    --lane-width: max(50px, calc(var(--game-width) / 100 * 6)); /* x% of game width */
    --lane-margin: calc(var(--game-width) / 100 * 0.25);
    --key-border-width: calc(var(--game-width) / 100 * 0.25);
    --hit-score-height: calc(var(--game-height) / 100 * 10);
    /* --accuracy-right: calc(var(--game-width) / 100 * 0.5); */
    /* --accuracy-top: var(--accuracy-right); */
    --accuracy-bottom: calc(var(--game-height) / 100 * 70);
    --combo-bottom: calc(var(--game-height) / 100 * 60);
    --hit-score-bottom: calc(var(--game-height) / 100 * 50);
    font-size: calc(var(--game-width) / 100 * 2.5);
    --hit-score-after-scale: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    position: relative;
    overflow: hidden;
    cursor: none;
}

.background {
    position: absolute;
    z-index: -1;
    width: var(--game-width);
    height: var(--game-height);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* filter: blur(5px); */
}

.accuracy, .combo, .hit-score {
    color: white;
    position: absolute;
}

.accuracy {
    right: var(--accuracy-right);
    top: var(--accuracy-top);
    left: var(--accuracy-left);
    bottom: var(--accuracy-bottom);
}

.combo {
    right: var(--combo-right);
    top: var(--combo-top);
    left: var(--combo-left);
    bottom: var(--combo-bottom);
}

.hit-score {
    right: var(--hit-score-right);
    top: var(--hit-score-top);
    left: var(--hit-score-left);
    bottom: var(--hit-score-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--hit-score-width);
    height: var(--hit-score-height);
    animation: hit-score 0.15s;
}
.hit-score * { width: 100%; height: 100%; }
@keyframes hit-score { 100% { transform: scale(var(--hit-score-after-scale)); } }
/* .hit-score { transition: rotate 0.1s; } */
/* @keyframes hit-score { 100% { transform: scaleX(4); rotate: 360deg; } } */

.lanes {
    display: flex;
    justify-content: center;
    height: var(--game-height);
    background-color: rgba(0, 0, 0, 0.90);
    position: absolute;
}

.lane {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    margin-left: var(--lane-margin);
    margin-right: var(--lane-margin);
    height: var(--game-height);
    width: var(--lane-width);
    position: relative;
    overflow: hidden;
}

.note {
    will-change: top, height;
    background-color: rgb(228, 228, 228);
    position: absolute;
    aspect-ratio: 1;
    border-radius: calc(var(--lane-width) / 2);
    width: 100%;
    height: auto;
}

/* .note::before, .note::after {
    border-radius: 100%;
} */

.note-4-2, .note-4-3 { background-color: rgb(118, 126, 201) }

.note-7-2, .note-7-6 { background-color: rgb(118, 126, 201) }
/* .note-7-1, .note-7-3, .note-7-5, .note-7-7 { background-color: rgb(107, 122, 255) } */
.note-7-4 { background-color: rgb(255, 148, 210) }

/* i apologise
.note-7-1 { background-color: red; }
.note-7-2 { background-color: blue; }
.note-7-3 { background-color: violet; }
.note-7-4 { background-color: tan; }
.note-7-5 { background-color: tomato; }
.note-7-6 { background-color: green; }
.note-7-7 { background-color: gold; } */

.key {
    z-index: 0;
    /* margin-top: 75px; */
    margin-bottom: 75px;
    min-width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: var(--key-border-width) solid rgb(182, 182, 182);
}

.key.pressed {
    background-color: rgb(206, 206, 206);
}