#game {
    --key-width: 7vh;
    --key-margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

/* .game {
    display: flex;
    height: 100%;
} */

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accuracy, .combo {
    color: white;
    font-size: 5em;
    position: absolute;
}

.accuracy {
    top: 25%;
}

.combo {
    top: 10%;
}

.lanes {
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.lane {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: var(--key-margin);
    margin-right: var(--key-margin);
}

.notes {
    position: absolute;
    height: 100%;
    width: var(--key-width);
    overflow: hidden;
}

.note {
    background-color: rgb(140, 18, 255);
    transform: translateY(-100%);
    position: absolute;
    aspect-ratio: 1;
    border-radius: calc(var(--key-width) / 2);
    width: var(--key-width);
    height: auto;
}

.key {
    z-index: 0;
    margin-bottom: 75px;
    width: var(--key-width);
    min-height: var(--key-width);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgb(182, 182, 182);
}

.key.pressed {
    background-color: rgb(206, 206, 206);
}